*{
    font-family: 'Times New Roman', Times, serif;
}
.title {
    font-size: 50px;
    font-weight: bold;
}
input{
    border: 1px solid black;
    width: 800px;
    height: 40px;
}
.operator {
    accent-color: black; 
}
.flex-container {
    display: flex;
    /* Đảm bảo các phần tử flex xếp chồng lên nhau */
    justify-items: flex-start; /* Căn các phần tử về bên trái */
    align-items: flex-start;
}
.notification {
    color: red;
    font-weight: bold;

}
.button-calc{
    border: 1px solid black;
    
    background-color: rgb(182, 182, 182);
    float: left;
}
input#num1 {
    padding: 5px;
}
/* 
label {
     display: inline-block;
     width: 100px;
     margin: 5px;;
 }
 .result, 
 .operator, button {
     margin: 7px;;
 }
 #calcForm{
     display: flex;
     margin-left: 10px;
 }
  */